# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Variables de entorno
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
